@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
}
/* shared style */
.nav-item:hover,
.btn-primary:hover,
.btn-primary2:hover,
.btn-primary3:hover{
    background-color: black;
}

.menu{
    display: flex;
    gap: 25px;
    max-width: 460px;
    padding: 50px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    gap:400px;
}
.band-name{
    color: rgb(19, 19, 19);
    font-size: 2.5rem;
font-weight: 700;
max-width: 302px;
/* line-height: 2.5rem; */
margin-left: 100px;
padding-top: 30px;

}
.menu-link{
    list-style: none;
    margin-right: 20px;
    
}
.nav-item{
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-size: 1.1rem;
font-weight: 500;
text-align: center;
}
.nav-item:hover{
    background-color: black;
    color: white;
    padding: 10px;
   
    
}


.header{
    margin: 0px;
}

/* banner  */
.banner-title{
    max-width: px;
    max-height: 225px;
    margin: 0 auto;
}
.banner-sibtitle{
    text-align: center;
    color: rgb(19, 19, 19);
    font-size: 3rem;
font-weight: 700;
line-height: 60px;
}
.banner-description{
    text-align: center;
    padding: 20px 100px 20px 100px;
    max-width: 800px;
    margin: 0 auto;
    max-height: 52px;
    color: rgb(114, 114, 114);
    font-size: 1rem;
font-weight: 400;
}
.btn-primary{
    width: 150px;
height: 55px;
border-radius: 8px;
background: rgb(255, 144, 14);
border: none;
color: white;
margin-left: 870px;
margin-right: 870px;
margin-bottom: 50px;
}
/* .btn{
    
} */
.banner-img{
    width: 100%;
}
/* banner responsive */
@media screen and (max-width:576px) {
 .navbar{
    flex-direction: column;
    align-items: center;
    gap: 5px;
 }   
 .band-name{
    margin-left: 40px;
    padding-top: 15px; }
    .btn-primary{
        margin-left: 180px;
        margin-top: 50px;
    }
    .menu{
        padding: 10px;

    }
    .banner-description{
        text-align: start;
        padding: 0px;
        text-align: center;
    }
    .btn{
        height: 120px;
    }
    .btn-primary{
        margin-left: 30%;
        /* margin-right: 30%; */
    }
}
/*quick features section */
.main{
    max-width: 1300px;
    margin: 0 auto;

}
.features{
    color: rgb(255, 144, 14);
    font-weight: 600;
}
.features-container1{
    display: flex;
    margin-top: 100px;
    align-items: center;
    gap:30px

}
.features-fig{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.features-fig  > img {
    max-width: 342px;

}
.features-text{
    max-width: 537px;
    max-height: 300px;
    
}
.features-text{
    font-size: 2.6rem;
font-weight: 700;
line-height: 3.3rem;
}
.features-description{
    font-size: 1rem;
font-weight: 400;
line-height: 1.5rem;
color: rgb(114, 114, 114);
margin-top: -40px;
}
.btn-primary2{
    border-radius: 8px;
    background: rgb(255, 144, 14);
    width: 180px;
    height: 60px;
    color: white;
    font-size: 1.3rem;
    border: none;
    margin-top: 50px;
}
    
/* features responsiveness */
@media  screen and (max-width:576px) {
    .main{
        max-width: 95vw;
        margin: 0 auto;
    }
    .features-container1{
        flex-direction: column-reverse;
    }
    .features-title1{
        padding-left: 10%;
    }
    .features-description{
        padding-left: 10%;
    }
    .btn-primary2{
        margin-left: 20%;
        margin-bottom: 60px;
        margin-top: 20px;
    }
}
/* features responsiveness */

    
/* features-enjoy */
.features-enjoy{
    display: flex;
    gap: 100px
}
.enjoy-features-text > h2{
    color: rgb(19, 19, 19);
font-family: Work Sans;
font-size: 2.8rem;
font-weight: 600;
line-height: 3.2rem;
width: 468px;
height: 106px;
border-left: 5px solid;
border-color: rgb(255, 144, 14);
}

.enjoy-features-text > p{
    color: rgb(114, 114, 114);
font-family: Work Sans;
font-size: 1rem;
font-weight: 400;
line-height: 1.5rem;
letter-spacing: 0%;
text-align: left;
width: 586px;
height: 78px;
margin: 20px 0px 20px 0px;
}
.features-enjoy{
    margin-top: 200px;
}
.features-title>h5{
    color: rgb(19, 19, 19);
font-size: 1.5rem;
font-weight: 600;
line-height: 1.2rem;
padding-left: 20px;
padding-top: 20px;
}
.features-title>p{
    color: rgb(114, 114, 114);
font-size: 1rem;
font-weight: 300;
line-height: 1.5rem;

padding: 30px;
text-align: left;
}
.features-title{
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    width: 586px;
height: 130px;
border-radius: 5px;
}
.features-container2{
    gap: 20px
}
.btn-primary3{
    width: 250px;
height: 150px;
border-radius: 8px;
background: rgb(255, 144, 14);
font-size: 2rem;
color: white;
position: relative;
z-index: 1;
top: -80px;
left: -70px;
border: none;
}
/* features-enjoy rsponsive */
@media screen and (max-width:576px) {
 .features-enjoy{
    flex-direction: column;
 }
 .features-title{
    width: 100%;
 }
 .features-title> p{
    padding: 0px;
    padding-left: 7px;

 }
 .enjoy-features-text>p {
    width: ;
 }
 .enjoy-features-text>h2, p{
    width: 100%;
}
.btn-primary3{
    position: relative;
    left: 10px;
    bottom: 15px;top: -40px;
    width: 180px;
    height: 90px;}
}
/* features-enjoy rsponsive */

    
    

/* fact section */
.fact-title{
    color: rgb(19, 19, 19);

font-size: 2.5rem;
font-weight: 600;
line-height: 3rem;
text-align: center;
}
.fact-description{
    color: rgb(114, 114, 114);
font-size: 1rem;
font-weight: 400;
line-height: 1.5rem;width: 542px;
height: 3rem;
text-align: center;
margin-left: 350px;
margin-top: 20px;
}
.fact-container{
    display: flex;
    justify-content: space-around;
}
.fact-card{
    border: 1px solid orange;
    border-radius: 3px;
    width: 192px;
height: 190px;
margin-top: 120px;

}
.fact-card> h4, fact-desc{
    text-align: center;
    margin-top: 30px;
    margin-left: 20px;
}
.fact-card:hover{
    background-color: rgb(74, 199, 24);
}
.fact-card> img{
    align-self: center;
}
/* fact responsiveness */
@media screen and (max-width:576px) {
    .fact-description{
        margin-left: 10px;width: 100%;
    }
    .fact-container{
        flex-direction: column;justify-content: center;
    }
    .fact-card{
        margin-top: 50px;
        margin-left: 90px;
    }
}
/* fact responsiveness */
    

.sponsor{
    width: 510px;
height: 120px;
margin: 100px 720px 100px 400px;
text-align: center;
gap: 10px;
}
.sponsor-title{
    
font-size: 2.5rem;
font-weight: 700;
line-height: 3rem;
}
.sponsor-desc{
    margin-top: 20px;
    font-size: 1rem;
font-weight: 300;
line-height: 1.5rem;
color: rgb(114, 114, 114);
}
.sponsor-fig-container{
    display: flex;
    justify-content: space-between;
}
.foot{
    width: 620px;
height: 23px;
}
/* sponsor responsive */
@media screen and (max-width:576px) {
    .sponsor-title{ 
        margin-left: 0px;text-align: left;
    }
    .sponsor-fig-container{
        flex-direction: column;
        margin-left: 50px;
        gap: 20px
    }
    .sponsor-desc{
        width: 200px;
    }

    .sponsor{
        margin-left: 10px;
    }
    
}
/* sponsor responsive */

footer{
    max-width: 1300px;
    margin: 0 auto;
}
.foot{
    background-color: bisque;
    margin-top: 300px;
    margin-bottom: 200px;height: 100px;
    width: 1250px;
}

.footp{
    text-align: center;
    padding-left: 50px;
    padding-top: 40px;
}
    
@media screen and (max-width:576px) {
    .foot{
        width: 100vw;
    }
    .footp{
        padding-left: 5px;
        width: 100%;
    }
}