@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
}
/* shared style */
.nav-item:hover,
.btn-primary:hover,
.btn-primary2:hover{
    background-color: black;
}

.menu{
    display: flex;
    gap: 25px;
    max-width: 460px;
    padding: 50px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    gap:400px;
}
.band-name{
    color: rgb(19, 19, 19);
    font-size: 2.5rem;
font-weight: 700;
max-width: 302px;
/* line-height: 2.5rem; */
margin-left: 100px;
padding-top: 30px;

}
.menu-link{
    list-style: none;
    margin-right: 20px;
    
}
.nav-item{
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-size: 1.1rem;
font-weight: 500;
text-align: center;
}
.nav-item:hover{
    background-color: black;
    color: white;
    padding: 10px;
   
    
}


.header{
    margin: 0px;
}

/* banner  */
.banner-title{
    max-width: px;
    max-height: 225px;
    margin: 0 auto;
}
.banner-sibtitle{
    text-align: center;
    color: rgb(19, 19, 19);
    font-size: 3rem;
font-weight: 700;
line-height: 60px;
}
.banner-description{
    text-align: center;
    padding: 20px 100px 20px 100px;
    max-width: 800px;
    margin: 0 auto;
    max-height: 52px;
    color: rgb(114, 114, 114);
    font-size: 1rem;
font-weight: 400;
}
.btn-primary{
    width: 150px;
height: 55px;
border-radius: 8px;
background: rgb(255, 144, 14);
border: none;
color: white;
margin-left: 870px;
margin-right: 870px;
margin-bottom: 50px;
}
/* .btn{
    
} */
.banner-img{
    width: 100%;
}
/* banner responsive */
@media screen and (max-width:576px) {
 .navbar{
    flex-direction: column;
    align-items: center;
    gap: 5px;
 }   
 .band-name{
    margin-left: 40px;
    padding-top: 15px; }
    .btn-primary{
        margin-left: 180px;
        margin-top: 50px;
    }
    .menu{
        padding: 10px;

    }
    .banner-description{
        text-align: start;
        padding: 0px;
        text-align: center;
    }
    .btn{
        height: 120px;
    }
    .btn-primary{
        margin-left: 30%;
        /* margin-right: 30%; */
    }
}
/*quick features section */
.main{
    max-width: 1300px;
    margin: 0 auto;

}
.features{
    color: rgb(255, 144, 14);
    font-weight: 600;
}
.features-container1{
    display: flex;
    margin-top: 100px;
    align-items: center;
    gap:30px

}
.features-fig{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.features-fig  > img {
    max-width: 342px;

}
.features-text{
    max-width: 537px;
    max-height: 300px;
    
}
.features-text{
    font-size: 2.6rem;
font-weight: 700;
line-height: 3.3rem;
}
.features-description{
    font-size: 1rem;
font-weight: 400;
line-height: 1.5rem;
color: rgb(114, 114, 114);
margin-top: -40px;
}
.btn-primary2{
    border-radius: 8px;
    background: rgb(255, 144, 14);
    width: 180px;
    height: 60px;
    color: white;
    font-size: 1.3rem;
    border: none;
    margin-top: 50px;
    

}
